body {
    background-color: powderblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
    color: Black;
	font-family: courier;
	text-align: center;
	margin: auto;
    width: 60%;
    padding: 5px;

}

h2{
	color: Black;
	font-family: courier;
	text-align: left;
	margin: auto;
    width: 60%;
    padding: 10px;
}

h4{
	color: Black;
	font-family: courier;
	text-align: left;
	margin: auto;
    width: 60%; 
    padding: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}
} 