body {
    background-color: powderblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
    color: Black;
	font-family: courier;
	text-align: center;
	margin: auto;
    width: 60%;
    padding: 5px;

}

h2{
	color: Black;
	font-family: courier;
	text-align: left;
	margin: auto;
    width: 60%;
    padding: 10px;
}

h4{
	color: Black;
	font-family: courier;
	text-align: left;
	margin: auto;
    width: 60%;
    padding: 5px;
}

button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: click;
    color: white;
} 